<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the page -->
    <title>Tech Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header with navigation links -->
    <header id="navbar" class="text-white">
        <section></section>
        <!-- Check if user is logged in -->
        {{#if loggedIn}}
            <!-- Navigation links for logged-in users -->
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/api/users/logout">Logout</a>
        {{else}}
            <!-- Navigation links for users not logged in -->
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
        {{/if}}  
    </header>
    <!-- Main content area -->
    <main>
        <!-- Dynamic content goes here -->
        {{{body}}}
    </main>
</body>
</html>
