<!-- Login Form -->
<section class="card text-center">
  <div class="card-body">
    <!-- Title of the card -->
    <h2 class="card-title">Login</h2>
    <!-- Form for login -->
    <form id="login">
      <!-- Username input field -->
      <div class="card-text">
        <label for="loginUsername">Username</label>
        <input type="text" placeholder="username" id="loginUsername" />
      </div>
      <!-- Password input field -->
      <div class="card-text">
        <label for="loginPassword">Password</label>
        <input type="password" placeholder="password" id="loginPassword" />
      </div>
      <!-- Login button -->
      <button>Login!</button><br />
      <!-- Link to the signup page -->
      <a href="/signup">Sign-Up</a>
    </form>
  </div>
</section>

<!-- Script for login functionality -->
<script src="/js/login.js"></script>
