* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(223, 227, 217) !important;
}

header,
h1 {
  background-color: #3a4039;
  padding: 15px 35px;
  color: #f6faf5 !important;
}

header a {
  margin: 10px;
  padding: 5px;
  color: #f6faf5 !important;
}

.card-body {
background: rgb(132, 118, 118);
}

.card-title {
  background-color: #565a55;
  color: #f6faf5;
  padding: 10px;
  border-radius: 10px;
}

.card {
  background-color: rgb(156, 160, 151);
  margin: 30px;
  padding: 10px;
}

.card h5,
.card p {
  color: rgb(46, 49, 51) !important;
  font-style: normal;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#newpost {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#content,
#editedContent {
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 7px 7px;
  border-radius: 5px;
}

#create,
#update,
#delete {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 20px;
}

#comment {
  width: 80vw;
  margin-top: 20px;
  padding: 7px 7px;
}

#title,
#editedTitle {
  width: 80vw;
  padding: 7px 7px;
  border-radius: 5px;
}